:root {
    --main-color: #cd5700; /*Color Oficial UDG Cualtos*/
    --second-color: #67b8fa;
    --third-color: #3f3f3f;
	  --background-color: #dddddd;
    
}

/*Color de fondo*/
  .alfrente{
    background-color: white;
  }
  .alfondo{
    background-color: var(--background-color);
  }
  /*----------barra id hilo---------------*/
  .dot {
    text-align: center;
    font-size: 15px;
    height: 25px;
    width: 20px;
    background-color: #bbb;
  }
  /*botones*/
  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file:hover {
	cursor: pointer;
}
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #cd5700;
    cursor: inherit;
    display: block;
  }
  
  .UDG{
    background-image: url("../img/icons/degradado.jpg");
    background-color: 	#CD5700 ;
    background-position: center; /* Center the image */
  }
  