@import url("Colors.css");

#Estadisticas{
    border: 2px solid pink;
    padding: 1rem;
}
#UltimosPost{
    border: 2px solid red;
  
    padding: 1rem;

}
#LastPost{
    border: 2px solid red;
    list-style: none;
}

